{% extends 'base.html' %}

{% block title %}List of Groups{% endblock %}

{% block content %}
<h2>List of Groups</h2>
<ul>
    {% for group in groups %}
        <li>
            {{ group.name }} 
            <a href="{% url 'add_member_to_group' group.id %}">Add Member</a>
            <a href="{% url 'send_message_to_group' group.id %}">Send Message</a>
        </li>
    {% empty %}
        <li>No groups available.</li>
    {% endfor %}
</ul>
<a href="{% url 'create_group' %}">Create New Group</a>
{% endblock %}
