{% extends 'base.html' %}

{% block title %}Rock Paper Scissors Game{% endblock %}

{% block content %}
    <h1>Rock, Paper, Scissors</h1>
    <button onclick="sendMove('rock')">Rock</button>
    <button onclick="sendMove('paper')">Paper</button>
    <button onclick="sendMove('scissors')">Scissors</button>
    <div id="result"></div>
    <script>
        const DOMAIN_NAME = window.location.host;
        const PROTOCOL = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
        const gameSocket = new WebSocket(PROTOCOL + DOMAIN_NAME + '/ws/game/');

        gameSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.getElementById('result').innerText = `Computer chose: ${data.computer_move}. You ${data.result}!`;
        };

        function sendMove(move) {
            gameSocket.send(JSON.stringify({ 'move': move }));
        }
    </script>
{% endblock %}