body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* Pushes footer to the bottom */
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
}


p{
    color: green
}
