{% extends 'base.html' %}
{% block title %}Chat Home {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul>
            {%for room in rooms%}
                <li><a href="{% url 'chat:chat_room' slug=room.slug %}">
                    <p class="text">{%if room.name%}{{room.name}}{%else%}Unnamed Room ({{room.slug}}){%endif%}</p>
                </a></li>
            {%endfor%}
            </ul>
        </div>
        
        <hr><br><br>

        <div class="col-md-6 offset-md-3">
            <form action="{% url 'chat:create_chat_room' %}" method="post">
                {% csrf_token %}
                <label for="name"><input class="form-control" required type="text" id="name" name="name" placeholder="name of the room"></label>
                <button id="button" type="submit" class="btn btn-primary btn-block">Create Room now!</button>
            </form>
        </div>
        
        {% if request.user.is_admin %}
        <div class="col-md-6 offset-md-3">
            <hr><br><br>
            <p class="text"><a href="{% url 'chat:message_management' %}"><button class="btn btn-secondary btn-block">Audit messages</button></a></p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block beforebodyend %}
<script>
    $(document).ready(function() {
        console.log("hey");
    });
</script>
{% endblock %}
