{% extends 'base.html' %}
{% block title %}Chat Home {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul>
            {%for room in rooms%}
                <li><a href="{% url 'chat:chat_room' slug=room.slug %}">{%if room.name%}{{room.name}}{%else%}Room ({{room.slug}}){%endif%}</a></li>
            {%endfor%}
            </ul>
        </div>
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'chat:create_chat_room' %}" method="post">
                {% csrf_token %}
                <label for="name"><input required type="text" id="name" name="name"></label>
                <button id="button" type="submit" class="btn btn-primary btn-block">Create Room now!</button>
            </form>
            
        </div>
    </div>
{% endblock %}

{% block beforebodyend %}
<script>
    $(document).ready(function() {
        console.log("hey");
    });
</script>
{% endblock %}
