{% extends 'base.html' %}
{% block title %}Chat {% endblock %}

{% block content %}
    <div class="row" style="height: 80vh;">
        <div class="col-md-12" id="chat-window">
            <h2 class="text-center" id="room_name" data-slug="{{slug}}">{{name}}</h2>

            <p>Members:</p>
            <div id="members-list">
                
            </div>


            <div id="chat-box" class="border p-3 mb-3">
                <p>No messages yet</p>
            </div>

            <div class="form-group d-flex align-items-center">
                <input type="text" id="message-input" class="form-control noto-sans-2" placeholder="Type a message...">
                <button id="send-button" class="btn btn-primary ml-2">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block beforebodyend %}
<script>
    $(document).ready(function() {
        const roomSlug = $("#room_name").data('slug');
        const socket = new WebSocket("wss://" + window.location.host + "/ws/chat/" + roomSlug + "/");
        const chatBoxDiv = $("#chat-box");
        const membersListDiv = $("#members-list");

        function fetchMembers() {
            $.ajax({
                url: `/chat/members/${roomSlug}`,
                method: 'GET',
                success: function(response) {
                    const members = response.members;
                    membersListDiv.empty();
                    members.forEach(function(member) {
                        membersListDiv.append(`<span>${member} </span>`);
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching members:", error);
                    $("#members-list").append("<p>Error fetching members</p>");
                }
            });
        }

        function fetchMessages() {
            $.ajax({
                url: `/chat/messages/${roomSlug}`,
                method: 'GET',
                success: function(response) {
                    const messages = response.messages;
                    chatBoxDiv.empty();
                    if (messages.length > 0) {
                        messages.forEach(function(msg) {
                            const content = msg.content;
                            const user = msg.user;
                            const created_at = msg.created_at;
                            const message_by_self = msg.message_by_self;
                            var messageHtml;
                            if (message_by_self==true){
                                messageHtml = `
                                    <div class="message message-right">
                                        <p class="message-content noto-sans-2">${content}</p>
                                        <span class="text-muted message-time">${created_at}</span>
                                    </div>
                                `;
                            }
                            else{
                                messageHtml = `
                                    <div class="message message-left">
                                        <strong class="message-sender noto-sans-1">${user}</strong>
                                        <p class="message-content noto-sans-2">${content}</p>
                                        <span class="text-muted message-time">${created_at}</span>
                                    </div>
                                `;
                            }
                            chatBoxDiv.append(messageHtml);
                        });
                    }
                    chatBoxDiv.scrollTop(chatBoxDiv[0].scrollHeight);
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching messages:", error);
                    $("#chat-box").append("<p>Error fetching messages</p>");
                }
            });
        }

        fetchMembers();
        fetchMessages();

        // setInterval(function() {
        //     fetchMessages();
        // }, 5000);

        const messageInput = $("#message-input");
        const sendButton = $("#send-button");


        socket.onopen = function() {
            console.log("WebSocket connection established.");
        };

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const content = data.content;
            const user = data.user;
            const created_at = data.created_at;
            const message_by_self = data.message_by_self;
            var messageHtml;
            if (message_by_self==true){
                messageHtml = `
                    <div class="message message-right">
                        <p class="message-content noto-sans-2">${content}</p>
                        <span class="text-muted message-time">${created_at}</span>
                    </div>
                `;
            }
            else{
                messageHtml = `
                    <div class="message message-left">
                        <strong class="message-sender noto-sans-1">${user}</strong>
                        <p class="message-content noto-sans-2">${content}</p>
                        <span class="text-muted message-time">${created_at}</span>
                    </div>
                `;
            }
            chatBoxDiv.append(messageHtml);
            chatBoxDiv.scrollTop(chatBoxDiv[0].scrollHeight);
        };

        sendButton.click(function() {
            const content = messageInput.val();
            if (content.trim()) {
                socket.send(JSON.stringify({ "content": content }));
                messageInput.val(''); 
            }
        });

        messageInput.keypress(function(e) {
            if (e.which === 13) {
                sendButton.click();
            }
        });

        socket.onclose = function(e) {
            console.log("WebSocket closed. Reason: " + e.reason);
        };
    });
</script>

{% endblock %}
