{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Channels Demo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block beforebody %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'tasks:index' %}">Home</a></li>
            <li><a href="{% url 'accounts:profile' %}">Profile</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'myauth:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'myauth:login' %}">Login</a></li>
                <li><a href="{% url 'myauth:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Django App</p>
    </footer>
    {% block beforebodyend %}
    {% endblock %}
</body>
</html>
